<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My simple blog website :: Lorenzo Franceschini">
    <link rel="amphtml" href="https://coderfor.fun/amp/index.html">

    <title>{{ title }}</title>
    <style>
        body {
            text-align: center;
            margin: 0;
        }
        h1,h2,h3,h4,h5,h6 {
            margin: 0;
        }
        header {
            background-image: url('https://source.unsplash.com/random');
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            min-height: 40vh;
        }
        header h1 {
            background-color: rgba(23,23,23,.3);
            display: inline-block;
            color: #fff;
        }
        div.container {
            width: 400px;
            margin: 0 auto;
        }
        ul {
        list-style: none;
        }
        .love {
            font-size: 4em;
        }
    </style>
</head>
<body>
    {{ content | safe}}
    <footer>
        Thanks to https://newsapi.org/
    </footer>
</body>
</html>